body {
    font-family: Arial, sans-serif;
}

.box {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.data-input {
    width: 80%;
    margin-left: 65px;
    padding: 14px 16px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 30px;
}

.sucess-box {
    border-radius: 12px;
}

.title {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 40px;
}

.wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.box-one h3,
.box-one h4 {
    margin-bottom: 16px;
    font-size: 22px;
}

.capital,
.population {
    font-size: 24px;
    font-weight: 700;
}

.capital span,
.population span {
    font-size: 19px;
    font-weight: 400;
    margin-left: 3px;
}

.launguege {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.list-laun {
    padding-left: 20px;
}

.list-laun li {
    font-size: 20px;
    margin-bottom: 6px;
}


.img {
    width: 360px;
    height: auto;
    border-radius: 4px;
}